<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Reset Password</title>
    <link rel = "stylesheet" href = "reset-password.component.css">
</head>
<body>
    <div class = "container">
        <div class = "form-container">
            <h1>Reset Password</h1>
            <form [formGroup] = "form" (ngSubmit) = "onSubmit()">
                <div class = "form-group">
                    <input type = "text" placeholder = "Email" formControlName = "email" />
                </div>
                <div class = "form-group">
                    <button type = "submit" id = "form-complete">Reset Password</button>
                </div>
            </form>
            <div class = "form-message">
                @if (errorMessage == "auth/invalid-email") {
                    <div class = "error-messages">Error: Invalid Email</div>
                }@else if (errorMessage == "auth/missing-email") {
                    <div class = "error-messages">Error: Please Enter Your Email</div>
                }@else if (errorMessage != null) {
                    <div class = "error-messages">{{ errorMessage }}</div>
                }@else {
                    {{ formComplete }}
                }
            </div>
        </div>
    </div>
</body>
</html>