<html>
    <body>
        <div class="main-container">
            <div class = "title-container">
                <div class="big-text">Welcome to <span class="title">Review</span><span class="title-yellow">Next</span></div>
            </div>
            <div class = "container">
                <div class="big-text" >All Your Favorites — with Trusted Reviews and Ratings</div>
                <div class="small-text">
                    <br>
                    Create your free account today to log and share reviews of your favorite content.
                    <br>
                    Browse our categories to find more you'll enjoy!
                    <br>
                <hr>
                <select id="myDropdown">
                    <option value="" disabled selected>Select your Category</option>
                    <option value="option2">Games</option>
                    <option value="option3">Movies</option>
                    <option value="option4">Books</option>
                    <option value="option5">Electronic Gadgets</option>
                  </select>
                  
                </div>
            </div>
        </div>
    </body>
</html>