<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Book actions menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logBook.emit()">
    <mat-icon>book</mat-icon>
    <span>Log Book</span>
  </button>
  <button mat-menu-item (click)="addToReadingList.emit()">
    <mat-icon>add</mat-icon>
    <span>Add to Reading List</span>
  </button>
  <button mat-menu-item (click)="markAsRead.emit()">
    <mat-icon>check_circle</mat-icon>
    <span>Mark as Read</span>
  </button>
  <button mat-menu-item (click)="markAsCurrentlyReading.emit()">
    <mat-icon>bookmark</mat-icon>
    <span>Currently Reading</span>
  </button>
  <button mat-menu-item (click)="markAsWantToRead.emit()">
    <mat-icon>bookmark_border</mat-icon>
    <span>Want to Read</span>
  </button>
</mat-menu>
