<form [formGroup]="bookForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Ex. The Vampire Diaries">
      <mat-error *ngIf="bookForm.controls.title.hasError('required')">Title is <strong>required</strong></mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" placeholder="Ex. A supernatural romance about a girl torn between two vampire brothers in Mystic Falls.">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Platforms</mat-label>
      <input matInput 
             formControlName="platformInput"
             placeholder="Choose platform" 
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button type="button" mat-button (click)="addPlatform()">Add Platform</button>
  
    <div *ngFor="let platform of platforms">
      {{ platform }} <button type="button" mat-button color="warn" (click)="removePlatform(platform)">Remove</button>
    </div>
  
    <mat-form-field class="example-full-width">
      <mat-label>Genres</mat-label>
      <input matInput 
             formControlName="genreInput" 
             placeholder="Choose genre" 
             [matAutocomplete]="genreAuto">
      <mat-autocomplete #genreAuto="matAutocomplete">
        <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button type="button" mat-button (click)="addGenre()">Add Genre</button>
  
    <div *ngFor="let genre of selectedGenres">
      {{ genre }} <button type="button" mat-button color="warn" (click)="removeGenre(genre)">Remove</button>
    </div>
  
    <mat-form-field class="example-full-width">
      <mat-label>Release Date</mat-label>
      <input matInput type="date" formControlName="releaseDate">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Developer</mat-label>
      <input matInput formControlName="developer" placeholder="Ex. L.J. Smith">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Publisher</mat-label>
      <input matInput formControlName="publisher" placeholder="Ex. : HarperCollins">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="imageUrl" placeholder="Leave empty for default image">
    </mat-form-field>
  </form>
  
  <div class="submit-button">
    <button mat-button color="primary" (click)="sendDataToFirebase()">Submit</button>
  </div>
