<div class="book-container">
  <div class="header-section">
    <h1>Books</h1>
    <button mat-raised-button color="primary" routerLink="/add_book">
      <mat-icon>add</mat-icon>
      Add Book
    </button>
  </div>
  
  <p-carousel [value]="books" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template let-book pTemplate="item">
      <div class="book-card">
        <mat-card>
          <img mat-card-image [src]="book.imageUrl" [alt]="book.title">
          <mat-card-content>
            <h2>{{ book.title }}</h2>
            <p>By {{ book.author }}</p>
            <p>Rating: {{ book.rating }}/5</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/books', book.id]">View Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </p-carousel>
</div>