<div class="home-appliance-container">
  <div class="header-section">
    <h1>Home Appliances</h1>
    @if (authService.currentUserSig()) {
    <button mat-raised-button color="primary" routerLink="/add_home_appliance">
      <mat-icon>add</mat-icon>
      Add Home Appliance
    </button>
    }
  </div>

  <h2>Trending</h2>
  <p-carousel [value]="trendingHomeAppliances" [numVisible]="5" [numScroll]="1" [circular]="true">
    <ng-template let-appliance pTemplate="item">
      <div class="home-appliance-card">
        <a [routerLink]="['/home-appliances', appliance.id]">
          <img class="thumbnail" [src]="appliance.imageUrl" [alt]="appliance.title">
          <div class="home-appliance-info">
            <h3>{{ appliance.title }}</h3>
            <p>Rating: {{ appliance.rating }}/5</p>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel>

  <h2>Top Rated</h2>
  <p-carousel [value]="topRatedHomeAppliances" [numVisible]="5" [numScroll]="1" [circular]="true">
    <ng-template let-appliance pTemplate="item">
      <div class="home-appliance-card">
        <a [routerLink]="['/home-appliances', appliance.id]">
          <img class="thumbnail" [src]="appliance.imageUrl" [alt]="appliance.title">
          <div class="home-appliance-info">
            <h3>{{ appliance.title }}</h3>
            <p>Rating: {{ appliance.rating }}/5</p>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel>

  <h2>Most Popular</h2>
  <p-carousel [value]="popularHomeAppliances" [numVisible]="5" [numScroll]="1" [circular]="true">
    <ng-template let-appliance pTemplate="item">
      <div class="home-appliance-card">
        <a [routerLink]="['/home-appliances', appliance.id]">
          <img class="thumbnail" [src]="appliance.imageUrl" [alt]="appliance.title">
          <div class="home-appliance-info">
            <h3>{{ appliance.title }}</h3>
            <p>Rating: {{ appliance.rating }}/5</p>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel>
</div> 