<div class="dialog-container">
  <div class="success-icon">
    <mat-icon>check_circle</mat-icon>
  </div>
  
  <h2 mat-dialog-title>Added to Wishlist!</h2>
  
  <mat-dialog-content>
    <p>Your item has been successfully added to your wishlist.</p>
  </mat-dialog-content>
  
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="viewWishlist()">
      <mat-icon>favorite</mat-icon>
      View Wishlist
    </button>
    <!-- <button mat-button (click)="close()">Continue Shopping</button> -->
  </mat-dialog-actions>
</div>
