<div class="game-search-container">
  <div *ngIf="loading" class="loading">
    <div class="loader"></div>
  </div>

  <div *ngIf="error" class="error">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="!loading && !error && movies.length === 0" class="no-results">
    <p>{{ emptyMessage }}</p>
  </div>

  <div *ngIf="!loading && !error && movies.length > 0" class="game-grid">
    <div *ngFor="let movie of movies" class="game-card">
      <a [routerLink]="['/movies', movie.id]" class="game-link">
        <div class="game-image-container">
          <img
            *ngIf="movie.imageUrl"
            [src]="movie.imageUrl"
            [alt]="movie.title"
            class="game-image"
          />
          <img
            *ngIf="!movie.imageUrl"
            src="assets/images/placeholder.png"
            alt="No image available"
            class="game-image"
          />
        </div>
        <div class="game-details">
          <h3 class="game-title">{{ movie.title }}</h3>
          <p *ngIf="movie.releaseDate" class="game-developer">
            {{ movie.releaseDate | date:'yyyy' }}
          </p>
          <p *ngIf="movie.rating" class="game-rating">{{ movie.rating }}/5</p>
        </div>
      </a>
    </div>
  </div>
</div>


