html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: auto;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: auto;
    position: relative;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0;
    min-height: 0; /* Remove minimum height constraint */
}