<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Register</title>
    <link rel = "stylesheet" href = "register.component.css">
</head>
<body>
    <div class = "container">
        <div class = "form-container">
            <h1>Register</h1>
            <form [formGroup] = "form" (ngSubmit) = "onSubmit()">
                <div class = "form-group">
                    <input type = "text" placeholder = "Username" formControlName = "username" />
                </div>
                <div class = "form-group">
                    <input type = "text" placeholder = "Email" formControlName = "email" />
                </div>
                <div class = "form-group">
                    <input type = "password" placeholder = "Password" formControlName = "password" />
                </div>
                <div class = "form-group">
                    <button type = "submit">Sign Up</button>
                </div>
            </form>
            <div class = "error-messages">
                @if (errorMessage == "auth/invalid-email") {
                    Error: Invalid Email
                }@else if (errorMessage == "auth/missing-email") {
                    Error: No Email
                }@else if (errorMessage == "auth/email-already-in-use") {
                    Error: Email already in use
                }@else if (errorMessage == "auth/weak-password") {
                    Error: Password must be at least 6 characters long
                }@else if (errorMessage == "auth/missing-password") {
                    Error: No Password
                }@else if (errorMessage) {
                    {{ errorMessage }}
                }
            </div>
        </div>
    </div>
</body>
</html>
