:root {
  --footer-bg: #fff;
  --footer-text: #000;
  --footer-link: #333;
  --footer-link-hover: #000;
}
[data-theme='dark'] {
  --footer-bg: #000;
  --footer-text: #fff;
  --footer-link: #bbb;
  --footer-link-hover: #fff;
}

.footer {
  flex-shrink: 0;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  width: 100%;
  margin: 0;
}

.footer .container {
  max-width: 100%;
  margin: auto;
}

.footer a {
  color: var(--footer-link);
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: var(--footer-link-hover);
}

.background {
  background: var(--footer-bg);
}
  