<!-- <div class="beauty-product-container">
  <div class="header-section">
    <h1>Beauty Products</h1>
    <button mat-raised-button color="primary" routerLink="/add_beauty_product">
      <mat-icon>add</mat-icon>
      Add Beauty Product
    </button>
  </div>

  <h2>Trending</h2>
  <p-carousel [value]="trendingBeautyProducts" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template let-product pTemplate="item">
      <div class="beauty-product-card">
        <a [routerLink]="['/beauty-products', product.id]">
          <img class="thumbnail" [src]="product.imageUrl" [alt]="product.title">
          <div class="beauty-product-info">
            <h3>{{ product.title }}</h3>
            <p>Rating: {{ product.rating }}/5</p>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel>

  <h2>Top Rated</h2>
  <p-carousel [value]="topRatedBeautyProducts" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template let-product pTemplate="item">
      <div class="beauty-product-card">
        <a [routerLink]="['/beauty-products', product.id]">
          <img class="thumbnail" [src]="product.imageUrl" [alt]="product.title">
          <div class="beauty-product-info">
            <h3>{{ product.title }}</h3>
            <p>Rating: {{ product.rating }}/5</p>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel>

  <!-- <h2>Most Popular</h2>
  <p-carousel [value]="popularBeautyProducts" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template let-product pTemplate="item">
      <div class="beauty-product-card">
        <a [routerLink]="['/beauty-products', product.id]">
          <img class="thumbnail" [src]="product.imageUrl" [alt]="product.title">
          <div class="beauty-product-info">
            <h3>{{ product.title }}</h3>
            <p>Rating: {{ product.rating }}/5</p>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel> -->
</div>  -->