<div class="page-container">
  <div class="content-wrapper">
    <div class="electronic-gadget-container">
      <div class="header-section">
        <h1>Electronic Gadgets</h1>
        @if (authService.currentUserSig()) {
        <button mat-raised-button color="primary" routerLink="/add_electronic_gadget">
          <mat-icon>add</mat-icon>
          Add Electronic Gadget
        </button>
        }
      </div>

      <h2>Trending</h2>
      <p-carousel [value]="trendingElectronicGadgets" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
        <ng-template let-gadget pTemplate="item">
          <div class="electronic-gadget-card">
            <app-add-to-list-button 
              [itemId]="gadget.id" 
              [itemType]="'gadget'">
            </app-add-to-list-button>
            <a [routerLink]="['/electronic-gadgets', gadget.id]">
              <div class="custom-card">
                <div class="card-image-wrapper">
                  <img class="card-image" [src]="gadget.imageUrl" [alt]="gadget.name">
            </div>
            <h3 class="card-title">{{ gadget.title }}</h3>
            <div class="electronic-gadget-info">
              <p>Rating: {{ gadget.rating }}/5</p>
            </div>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel>

  <h2>Top Rated</h2>
  <p-carousel [value]="topRatedElectronicGadgets" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template let-gadget pTemplate="item">
      <div class="electronic-gadget-card">
        <app-add-to-list-button 
          [itemId]="gadget.id" 
          [itemType]="'gadget'">
        </app-add-to-list-button>
        <a [routerLink]="['/electronic-gadgets', gadget.id]">
          <div class="custom-card">
            <div class="card-image-wrapper">
              <img class="card-image" [src]="gadget.imageUrl" [alt]="gadget.title">
            </div>
            <h3 class="card-title">{{ gadget.title }}</h3>
            <div class="electronic-gadget-info">
              <p>Rating: {{ gadget.rating }}/5</p>
            </div>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel>

  <!-- <h2>Most Popular</h2>
  <p-carousel [value]="popularElectronicGadgets" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template let-gadget pTemplate="item">
      <div class="electronic-gadget-card">
        <a [routerLink]="['/electronic-gadgets', gadget.id]">
          <div class="custom-card">
            <div class="card-image-wrapper">
              <img class="card-image" [src]="gadget.imageUrl" [alt]="gadget.title">
            </div>
            <h3 class="card-title">{{ gadget.title }}</h3>
            <div class="electronic-gadget-info">
              <p>Rating: {{ gadget.rating }}/5</p>
            </div>
          </div>
        </a>
      </div>
    </ng-template>
  </p-carousel> -->
</div> 