<h2>Change Profile Picture</h2>

<mat-dialog-content>
  <p>Choose a new profile picture</p>
  <mat-form-field>
    <button mat-dialog-close (click)="submitImage('https://download.xboxgamer.pics/titles/545407e7/28003.png')">
        <img src="https://download.xboxgamer.pics/titles/545407e7/28003.png" alt="Mord">
    </button>

    <button mat-dialog-close (click)="submitImage('https://download.xboxgamer.pics/titles/fffe07d1/20004.png')">
        <img src="https://download.xboxgamer.pics/titles/fffe07d1/20004.png" alt="Smile">
    </button>

    <button mat-dialog-close (click)="submitImage('https://download.xboxgamer.pics/titles/fffe07d1/2000c.png')">
      <img src="https://download.xboxgamer.pics/titles/fffe07d1/2000c.png" alt="Skull">
    </button>

    <button mat-dialog-close (click)="submitImage('https://download.xboxgamer.pics/titles/fffe07d1/20009.png')">
        <img src="https://download.xboxgamer.pics/titles/fffe07d1/20009.png" alt="Dog">
    </button>

    <button mat-dialog-close (click)="submitImage('https://download.xboxgamer.pics/titles/fffe07d1/20007.png')">
      <img src="https://download.xboxgamer.pics/titles/fffe07d1/20007.png" alt="Gurl">
    </button>

    <button mat-dialog-close (click)="submitImage('https://download.xboxgamer.pics/titles/fffe07d1/20003.png')">
      <img src="https://download.xboxgamer.pics/titles/fffe07d1/20003.png" alt="Monkey">
    </button>
  </mat-form-field>
</mat-dialog-content>

<div class="bio-buttons">
  <button mat-raised-button mat-dialog-close >Cancel</button>
</div>