<mat-toolbar color="primary" id="leftside">
  <!--Logo-->
  <h1 routerLink="" class="site-title">
    Review<span class="highlight">Next</span>
  </h1>

  <span class="example-spacer"></span>
  <div class = "big-divider"></div>


  <!--Buttons in the middle-->
  <div fxLayout fxLayoutAlign="end" fxHide.xs class="showHide">
    @if (authService.currentUserSig() == null){
    <button mat-button color="grey-back" routerLink="login">
      <span class="navbar_button">Login</span>
    </button>
    <div class = "divider"></div>
    <button mat-button color="grey-back" routerLink="register">
      <span class="navbar_button">Register</span>
    </button>
    } @if (authService.currentUserSig()) {
    <button mat-button color="grey-back" routerLink="profile">
      <span class="navbar_button">Profile</span>
    </button>
    
    <div class = "divider"></div>
    <button mat-button [matMenuTriggerFor]="categoryMenu" color="grey-back">
      <span class="navbar_button">Categories</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    
    <button mat-button color="grey-back" routerLink="my_lists">
      <span class="navbar_button">Lists</span>
    </button>
    
    <button mat-button color="grey-back" routerLink="mylog">
      <span class="navbar_button">My Log</span>
    </button>
    <div class = "divider"></div>
    
    
  }
  </div>

  <mat-menu #categoryMenu="matMenu">
    <button mat-menu-item routerLink="games">
      <mat-icon>sports_esports</mat-icon>
      <span>Games</span>
    </button>
    <button mat-menu-item routerLink="books">
      <mat-icon>menu_book</mat-icon>
      <span>Books</span>
    </button>
    <button mat-menu-item routerLink="movies">
      <mat-icon>movie</mat-icon>
      <span>Movies</span>
    </button>
    <button mat-menu-item routerLink="electronic-gadgets">
      <mat-icon>devices</mat-icon>
      <span>Electronic Gadgets</span>
    </button>
    <button mat-menu-item routerLink="apps">
      <mat-icon>apps</mat-icon>
      <span>Apps</span>
    </button>
    <button mat-menu-item routerLink="web-series">
      <mat-icon>live_tv</mat-icon>
      <span>Web Series</span>
    </button>
    <button mat-menu-item routerLink="documentaries">
      <mat-icon>videocam</mat-icon>
      <span>Documentaries</span>
    </button>
    <button mat-menu-item routerLink="beauty-products">
      <mat-icon>spa</mat-icon>
      <span>Beauty Products</span>
    </button>
    <button mat-menu-item routerLink="home-appliances">
      <mat-icon>home</mat-icon>
      <span>Home Appliances</span>
    </button>
  </mat-menu>

  <span class="example-spacer"></span>

  <!--Buttons at the end of the navbar-->
  @if (authService.currentUserSig()) {
  <div class="ms-auto showHide">
    <form class="d-flex search-form">
      <input
        class="form-control me-2 search-input"
        type="search"
        aria-label="Search"
        [(ngModel)]="searchQuery"
        name="search"
      />

      <button
        class="btn btn-outline-light search-button"
        type="submit"
        (click)="onSearch()"
      >
        Search
      </button>
    
    </form>
  </div>
}
  <button mat-button [matMenuTriggerFor]="menu" class="dropdown">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="custom-menu">
    <div class="menu-container">
      @if (authService.currentUserSig() == null){
      <button mat-button class="menu-btn" color="grey-back" routerLink="login">Login</button>

      <button mat-button class="menu-btn" routerLink="register">Register</button>

      } @if (authService.currentUserSig()) {
      <button mat-button class="menu-btn" routerLink="profile">Profile</button>
      }
      <button mat-button class="menu-btn" [matMenuTriggerFor]="mobileCategoryMenu">Categories</button>
      <button mat-button class="menu-btn" routerLink="myLog">Lists</button>
      @if (authService.currentUserSig()) {
      <button mat-button class="menu-btn" routerLink="mylog">My Log</button>
      }
      <button mat-button class="menu-btn" routerLink="add_game">Add Game</button>
      <button mat-button class="menu-btn" routerLink="add_book">Add Book</button>
      <button mat-button class="menu-btn" routerLink="add_movie">Add Movie</button>
    </div>
      <div class="ms-auto">
        <form class="d-flex search-form responsive">
          <input
            class="form-control me-2 search-input"
            type="search"
            aria-label="Search"
            [(ngModel)]="searchQuery"
            name="search"
            (click)="$event.stopPropagation()"

          />
    
          <button
            class="btn btn-outline-light search-button"
            type="submit"
            (click)="onSearch()"
          >
            Search
          </button>
        </form>
      </div>

  </mat-menu>

  <mat-menu #mobileCategoryMenu="matMenu">
    <button mat-menu-item routerLink="games">
      <mat-icon>sports_esports</mat-icon>
      <span>Games</span>
    </button>
    <button mat-menu-item routerLink="books">
      <mat-icon>menu_book</mat-icon>
      <span>Books</span>
    </button>
    <button mat-menu-item routerLink="movies">
      <mat-icon>movie</mat-icon>
      <span>Movies</span>
    </button>
    <button mat-menu-item routerLink="electronic-gadgets">
      <mat-icon>devices</mat-icon>
      <span>Electronic Gadgets</span>
    </button>
    <button mat-menu-item routerLink="apps">
      <mat-icon>apps</mat-icon>
      <span>Apps</span>
    </button>
    <button mat-menu-item routerLink="web-series">
      <mat-icon>live_tv</mat-icon>
      <span>Web Series</span>
    </button>
    <button mat-menu-item routerLink="documentaries">
      <mat-icon>videocam</mat-icon>
      <span>Documentaries</span>
    </button>
    <button mat-menu-item routerLink="beauty-products">
      <mat-icon>spa</mat-icon>
      <span>Beauty Products</span>
    </button>
    <button mat-menu-item routerLink="home-appliances">
      <mat-icon>home</mat-icon>
      <span>Home Appliances</span>
    </button>
  </mat-menu>

</mat-toolbar>
