<mat-toolbar color="primary" id="leftside">
  <!--Logo-->
  <h1 routerLink="" class="site-title">
    Review<span class="highlight">Next</span>
  </h1>

  <!--Search in the middle-->
  @if (authService.currentUserSig()) {
  <div class="search-container">
    <form class="d-flex search-form">
      <input
        class="form-control me-2 search-input"
        type="search"
        aria-label="Search"
        [(ngModel)]="searchQuery"
        name="search"
      />
      <button
        class="btn btn-outline-light search-button"
        type="submit"
        (click)="onSearch()"
      >
        Search
      </button>
    </form>
  </div>
  }

  <!--Buttons on the right-->
  <div class="right-buttons">
    @if (authService.currentUserSig() == null){
    <button mat-button color="grey-back" routerLink="login">
      <span class="navbar_button">Login</span>
    </button>
    <div class="divider"></div>
    <button mat-button color="grey-back" routerLink="register">
      <span class="navbar_button">Register</span>
    </button>
    } @if (authService.currentUserSig()) {
    <button mat-button [matMenuTriggerFor]="categoryMenu" color="grey-back">
      <span class="navbar_button">Categories</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-button">
      <img [src]="avatarUrl" alt="Profile" class="profile-image">
    </button>
    }
  </div>

</mat-toolbar>

<!-- Always present in DOM -->
<mat-menu #categoryMenu="matMenu">
  <button mat-menu-item routerLink="games">
    <mat-icon>sports_esports</mat-icon>
    <span>Games</span>
  </button>
  <button mat-menu-item routerLink="books">
    <mat-icon>menu_book</mat-icon>
    <span>Books</span>
  </button>
  <button mat-menu-item routerLink="movies">
    <mat-icon>movie</mat-icon>
    <span>Movies</span>
  </button>
  <button mat-menu-item routerLink="electronic-gadgets">
    <mat-icon>devices</mat-icon>
    <span>Electronic Gadgets</span>
  </button>
  <button mat-menu-item routerLink="apps">
    <mat-icon>apps</mat-icon>
    <span>Apps</span>
  </button>
  <button mat-menu-item routerLink="web-series">
    <mat-icon>live_tv</mat-icon>
    <span>Web Series</span>
  </button>
  <button mat-menu-item routerLink="documentaries">
    <mat-icon>videocam</mat-icon>
    <span>Documentaries</span>
  </button>
  <button mat-menu-item routerLink="beauty-products">
    <mat-icon>spa</mat-icon>
    <span>Beauty Products</span>
  </button>
  <button mat-menu-item routerLink="home-appliances">
    <mat-icon>home</mat-icon>
    <span>Home Appliances</span>
  </button>
</mat-menu>

<mat-menu #profileMenu="matMenu" class="custom-menu">
  <div class="menu-container">
    @if (authService.currentUserSig()) {
    <button mat-button class="menu-btn" routerLink="profile">Profile</button>
    }
  </div>
</mat-menu>
