.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  min-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

mat-dialog-actions {
  padding: 16px 0;
  margin-bottom: 0;
}

button {
  min-width: 100px;
}